.app-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: url("./background.jpg");
  background-size: cover;
  transition: ease-in-out 0.2s;
  overflow: hidden;
  position: absolute;
}

.app-header {
  display: flex;
  flex-flow: wrap row;
  justify-content: space-between;
  align-items: center;
  width: 100;
  padding: 16px 24px;
  position: relative;
  border-bottom-right-radius: 10px;
  background: #e6f1ff;
}

.app-header-left {
  display: flex;
  flex-flow: wrap row;
  align-items: center;
  flex-grow: 1;
}

.app-icon {
  width: 40px;
  height: 40px;
}

.app-name {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 32px;
  padding: 0;
  color: #4d4d4d;
  background: linear-gradient(
    to right,
    #7953cd 20%,
    #00affa 30%,
    #0190cd 70%,
    #764ada 80%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 500% auto;
  animation: textShine 2s ease-in-out infinite alternate;
}

@keyframes textShine {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 25% 50%;
  }
  50% {
    background-position: 50% 50%;
  }
  75% {
    background-position: 75% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.app-body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  background: transparent;
  transition: ease-in-out 0.2s;
  overflow: hidden;
}

.app-sidebar {
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  position: relative;
  width: fit-content;
  padding: 10px;
  height: 100;
  background: #e6f1ff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: ease-in-out 0.2s;
  overflow: auto;
}

.app-sidebar-item {
  height: fit-content;
  display: flex;
  align-items: center;
  margin: 10px 10px;
  padding: 10px;
  cursor: pointer;
  transition: ease-in-out 0.2s;
  border-radius: 10px;
  background: linear-gradient(145deg, #f6ffff, #cfd9e6);
  box-shadow: 6px 6px 7px #d1dbe8, -6px -6px 7px #fbffff;
}

.sidebar-icon {
  display: flex;
  margin-right: 10px;
  width: 24px;
  height: 24px;
}

.sidebar-text {
  font-size: 1rem;
  margin: 0;
  padding: 0;
  color: #4d4d4d;
}

.app-profile {
  position: absolute;
  right: 0;
  height: fit-content;
  display: flex;
  flex-flow: wrap row;
  align-items: center;
  margin: 20px;
  margin-left: 2px;
  border-radius: 10px;
  cursor: pointer;
  transition: ease-in-out 0.2s;
}

.profile-name {
  max-width: 300px;
  word-wrap: break-word;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  color: #42596d;
}

.profile-icon {
  display: flex;
  margin-right: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.profile-detail {
  display: flex;
  flex-flow: wrap column;
  align-items: flex-end;
}

.profile-email {
  max-width: 300px;
  word-wrap: break-word;
  font-size: 0.8rem;
  margin: 0;
  padding: 0;
  color: #387fb9;
}

.signout {
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 5px;
  cursor: pointer;
  transition: ease-in-out 0.2s;
  border: none;
  border-radius: 10px;
  background: linear-gradient(145deg, #f6ffff, #cfd9e6);
}

.signout:hover {
  box-shadow: 3px 3px 15px #bac3cf, -3px -3px 15px #ffffff;
}

.signout-icon {
  width: 24px;
  height: 24px;
}

.app-content {
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  flex-wrap: wrap;
  position: relative;
  background: transparent;
  transition: ease-in-out 0.2s;
  overflow: auto;
  padding: 10px;
}

.glass-card {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
  align-items: center;
  position: relative;
  background: #ffffff50;
  transition: ease-in-out 0.2s;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  backdrop-filter: blur(7px);
}

.welcome-image {
  object-fit: cover;
  width: 200px;
  height: 200px;
  border-radius: 10%;
  margin-right: 20px;
}

.welcome-text {
  font-size: 1.5rem;
  margin: 10px;
  padding: 0;
  word-wrap: break-word;
  white-space: wrap;
}

.app-sidebar-item:hover {
  background: linear-gradient(145deg, #cfd9e6, #f6ffff);
  box-shadow: 6px 6px 7px #d1dbe8, -6px -6px 7px #fbffff;
}

.app-sidebar-item.active {
  background: #e6f1ff;
  box-shadow: inset 6px 6px 7px #d1dbe8, inset -6px -6px 7px #fbffff;
}

.add-icon {
  display: flex;
  width: 70px;
  height: 70px;
  cursor: pointer;
  margin: 10px;
  fill: #1b579c;
  transition: ease-in-out 0.2s;
}

.add-icon:hover {
  transform: scale(1.2);
}

.add-icon:active {
  transform: scale(0.95);
}

.charCount {
  display: flex;
  justify-content: flex-end;
  color: #969292;
  font-size: 0.8rem;
}

.container1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  position: relative;
  transition: ease-in-out 0.2s;
  padding: 10px;
  border-radius: 10px;
  margin: 10;
  background: #e6f1ff;
}

.open {
  fill: #ffffff;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.delete-icon {
  fill: none;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.course-card {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background: #ffffff50;
  transition: ease-in-out 0.2s;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  backdrop-filter: blur(7px);
}

.course-name {
  max-width: 300px;
  word-wrap: break-word;
  color: #4f86b3;
  font-size: 1.5rem;
  margin: 2px;
  padding: 0;
}

.course-code,
.course-teacher {
  max-width: 300px;
  word-wrap: break-word;
  color: #556069;
  font-size: 1rem;
  margin: 2px;
  padding: 0;
}

.course-description {
  width: 200px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  border-radius: 12px;
  padding: 0.6em;
  margin: 0.5em;
  border: none;
  outline: none;
  resize: none;
  background: #e6f1ff;
  box-shadow: inset 6px 6px 7px #d1dbe8, inset -6px -6px 7px #fbffff;
}

.course-btns {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
}

.course-btn {
  text-transform: uppercase;
  color: #ffffff;
  height: fit-content;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: ease-in-out 0.2s;
  border: none;
  border-radius: 100px;
  padding: 5px;
  background: linear-gradient(145deg, #56ccf2, #2f80ed);
  box-shadow: #409de9 0 0 7px 2px;
}

.course-btn:hover {
  background: linear-gradient(145deg, #2f80ed, #56ccf2);
  box-shadow: #409de9 0 0 9px 3px;
  transform: scale(1.15);
}

.course-btn:active {
  transform: scale(0.95);
}

.course-btn span {
  margin: 0.5em;
}

.course-btn:hover {
  background-color: #2586c5;
}

.course-delete-btn {
  top: 5%;
  right: 5%;
  color: white;
  padding: 5px;
  text-transform: uppercase;
  color: #708eaa;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: ease-in-out 0.2s;
  border: none;
  border-radius: 50%;
  background: linear-gradient(145deg, #ed213a, #93291e);
  box-shadow: #e94040 0 0 7px 1px;
}

.course-delete-btn:hover {
  background: linear-gradient(145deg, #93291e, #ed213a);
  transform: scale(0.8);
}

.course-delete-btn:active {
  transform: scale(1.15);
}

.course-page {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  align-self: flex-start;
  transition: ease-in-out 0.2s;
  margin: 0;
}

.course-header {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  transition: ease-in-out 0.2s;
  padding: 5px;
  border-radius: 10px;
  margin: 5px;
  background: #ffffff50;
  backdrop-filter: blur(7px);
}

.backButton {
  position: sticky;
  top: 0%;
  cursor: pointer;
  padding: 5px;
  border-radius: 50%;
  border: none;
  margin: 5px;
  background: linear-gradient(145deg, #d7dde850, #757f9a50);
}

.backButton:hover {
  background: linear-gradient(145deg, #757f9a50, #d7dde850);
}

.backIcon {
  width: 24px;
  height: 24px;
  fill: none;
}

.courseTitle {
  color: #4f86b3;
  font-size: 1.5rem;
  margin: 2px;
  padding: 0;
  text-align: center;
  flex-grow: 1;
}

.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: ease-in-out 0.2s;
  cursor: pointer;
}

.profile-icon {
  width: 40px;
  height: 40px;
  margin-right: 5px;
  border-radius: 50%;
}

.post-form {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: ease-in-out 0.2s;
  padding: 5px;
  border-radius: 10px;
  margin: 5px;
  background: #ffffff50;
  backdrop-filter: blur(7px);
}

.sendIcon {
  width: 20px;
  height: 20px;
}

.postButton {
  cursor: pointer;
  padding: 5px;
  border-radius: 50%;
  border: none;
  background: linear-gradient(145deg, #f6ffff, #cfd9e6);
}

.postButton:hover {
  background: linear-gradient(145deg, #cfd9e6, #f6ffff);
}

.field2 {
  width: 100%;
  height: auto;
  max-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  border-radius: 12px;
  padding: 0.6em;
  margin: 0.5em;
  border: none;
  outline: none;
  resize: none;
  background: #e6f1ff;
  box-shadow: inset 6px 6px 7px #d1dbe8, inset -6px -6px 7px #fbffff;
}

.post-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  transition: ease-in-out 0.2s;
  padding: 5px;
  border-radius: 10px;
  margin: 5px;
  background: #ffffff50;
  backdrop-filter: blur(7px);
}

.post-message {
  color: #0d2231;
  white-space: pre-wrap;
  height: auto;
  display: flex;
  padding: 0.5em;
}

.post-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  transition: ease-in-out 0.2s;
  margin: 5px;
}

.post-time {
  color: #03387e;
  font-size: 0.8rem;
  margin: 2px;
  padding: 0;
  text-align: end;
  flex-grow: 1;
}

.messages {
  display: flex;
  width: 100%;
  flex-direction: column-reverse;
  align-items: center;
  transition: ease-in-out 0.2s;
  margin: 0;
}

.students {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: ease-in-out 0.2s;
  margin-left: 10px;
  margin-right: 5px;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
  color: #ffffff;
  background: #568bad;
}

.students:hover {
  background: #337dac;
  box-shadow: 0 4px 10px #0000004d;
}

.people-icon {
  width: 24px;
  height: 24px;
  fill: none;
}

.studentsList {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  transition: ease-in-out 0.2s;
}
